services:
	attributes.stack_provider:
		type: SixtyEightPublishers\PoiBundle\Attribute\Stack\StackProviderInterface
		factory: @extension.attributes.stack_provider.default

	attributes.stack_provider.default:
		type: SixtyEightPublishers\PoiBundle\Attribute\Stack\StackProviderInterface
		factory: SixtyEightPublishers\PoiBundle\Attribute\Stack\StackProvider
