services:
	attributes.event_subscriber.watch_attribute_changes:
		autowired: no
		type: SixtyEightPublishers\PoiBundle\Attribute\EventSubscriber\WatchAttributeChangesSubscriber(
			@extension.attributes.stack_provider
		)
